<!DOCTYPE html>
<title>首頁</title>

<html>
  <head>
    <meta charset=" utf-8 " />
    <link href="/static/css/aboutus.css" rel="stylesheet" />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, min-scale=1, max-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>

  <body>
    <header class="main_header">
      <div class="container">
        <nav class="main_nav">
          <a href="http://127.0.0.1:5000/info">首頁</a>
          <a href="http://127.0.0.1:5000/field">場地介紹</a>
          <a href="http://127.0.0.1:5000/result">專題成果</a>
          <a href="http://127.0.0.1:5000/about">關於我們</a>
        </nav>
      </div>
    </header>

    <!-- 新增東西的地方的頭 -->
    <div class="abu_container">
      <div class="adu_item">
        <div class="abs_text">
          <h2>簡宇健</h2>
          <img id="made_icon1" src="/static/image/madeby_ json.jpg" />
          <p>
            負責項目：AI辨識，包含球員位置辨識，背號辨識，資料傳輸以及串接。
          </p>
        </div>
      </div>
      <div class="adu_item">
        <div class="abs_text">
          <h2>曾俊杰</h2>
          <img id="made_icon2" src="/static/image/madeby_zeng.jpg" />
          <p>負責項目：圖像串流，網頁CSS、JS以及資料傳輸的python串接。</p>
        </div>
      </div>
    </div>
    <!-- 新增東西的地方的尾 -->
    <div class="main_footer">
      <div class="footer_container"></div>

      <div class="made_by">
        <p>© 2023 球員辨識畢專。亞洲大學資工系。</p>
        <p>Made by 簡宇健 & 曾俊杰</p>
      </div>
    </div>
  </body>
</html>
