<!DOCTYPE html>
<title>場地圖</title>

<html>

<head>
    <meta charset=' utf-8 '>
    <link href="/static/css/field.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, min-scale=1, max-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>


<body>
    <header class="main_header">       
        <div class="container">
            <a href="#" class="logo">
                <img id="image_logo" src="">
            </a>
            <div class = "user_div">
                <label id = 'username'>歡迎!<label>
            </div>
            <nav class="main_nav">
                <a href="http://127.0.0.1:5000" >首頁</a>
                <a href="http://127.0.0.1:5000">場地介紹</a>
                <a href="http://127.0.0.1:5000/">專題資訊</a>
            </nav>
        </div>
    </header>

    <!-- 新增東西的地方的頭 -->
    <div class="abu_container">
        <div class="field"><img src="/static/fieldimg/field_Org.png" ></div>
        </div>
    </div>
    <!-- 新增東西的地方的尾 -->
    <div class="main_footer">
        <div class="footer_container">
            <div class="footer_item">
                <h4>相關訊息</h4>
                <nav>
                    <a href="http://127.0.0.1:5000/about">關於我們</a>
                </nav>
            </div>
            <div class="footer_item">
                <h4>場地介紹</h4>
                <nav>
                    <a href="http://127.0.0.1:5000/field">場地介紹</a>
                </nav>
            </div>
        </div>
        <div class="made_by">
            <p>© 2023 球員辨識畢專。亞洲大學資工系。</p>
            <p>Made by Jason Jian & Kevin Zeng & Peter Cheng</p>
        </div>
    </div>
    
</body>


</html>