<!DOCTYPE html>
<title>場地圖</title>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>場地介紹</title>
    <script src="/static/script/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/field.css" />
  </head>

  <body>
    <header class="main_header">
      <div class="container">
        <nav class="main_nav">
          <a href="http://127.0.0.1:5000/index">首頁</a>
          <a href="http://127.0.0.1:5000/field">場地介紹</a>
          <a href="http://127.0.0.1:5000/result">專題成果</a>
          <a href="http://127.0.0.1:5000/about">關於我們</a>
        </nav>
      </div>
    </header>

    <!-- 新增東西的地方的頭 -->
    <div id="main_c">
      <div class="abu_container">
        <div class="field">
          <img id="fieldinfo" src="/static/fieldimg/field_01.png" />
          <div id="text_title">
            <h1>場域完整場地及相關設備</h1>

            <p>
              右方圖片為場域完整場地、攝影機分布以及攝影機照射範圍。<br />

              此場域內，總共擁有六支攝影機，分別分布在左右兩側各有三隻攝影機對場地進行攝影。<br />

              因本次專題僅辨識左半場場地，只使用畫面範圍覆蓋左半場之三隻攝影機。
            </p>
          </div>
        </div>

        <div class="rightbar">
          <ul>
            <li class="pic01"><a>完整場地圖</a></li>
            <li class="pic02"><a>一號攝影機</a></li>
            <li class="pic03"><a>四號攝影機</a></li>
            <li class="pic04"><a>五號攝影機</a></li>
            <li class="pic05"><a>所使用攝影機</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 新增東西的地方的尾 -->
    <div class="main_footer">
      <div class="footer_container"></div>

      <div class="made_by">
        <p>© 2023 球員辨識畢專。亞洲大學資工系。</p>
        <p>Made by 簡宇健 & 曾俊杰</p>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function () {
    var defaultText = "Your Default Text";
    var defaultImage = "/static/fieldimg/field_01.png";

    $("#fieldinfo").attr("src", defaultImage);
    $("#imageText").text(defaultText);

    $(".rightbar li").click(function () {
      var buttonText = $(this).text();
      var imagePath = "/static/fieldimg/";
      switch (buttonText) {
        case "完整場地圖":
          $("#fieldinfo").attr("src", imagePath + "field_01.png");
          $("#text_title h1").html("場域完整場地及相關設備");
          $("#text_title p").html(
            "右方圖片為場域完整場地、攝影機分布以及攝影機照射範圍。<br>此場域內，總共擁有六支攝影機，分別分布在左右兩側各有三隻攝影機對場地進行攝影。<br>因本次專題僅辨識左半場場地，只使用畫面範圍覆蓋左半場之三隻攝影機。"
          );
          break;
        case "一號攝影機":
          $("#fieldinfo").attr("src", imagePath + "field_02.png");
          $("#text_title h1").text("一號攝影機之拍攝範圍");
          $("#text_title p").text("右方圖片為一號攝影機之照射範圍。");
          break;
        case "四號攝影機":
          $("#fieldinfo").attr("src", imagePath + "field_03.png");
          $("#text_title h1").text("四號攝影機之拍攝範圍");
          $("#text_title p").text("右方圖片為四號攝影機之照射範圍。");
          break;
        case "五號攝影機":
          $("#fieldinfo").attr("src", imagePath + "field_04.png");
          $("#text_title h1").text("五號攝影機之拍攝範圍");
          $("#text_title p").text("右方圖片為六號攝影機之照射範圍。");
          break;
        case "所使用攝影機":
          $("#fieldinfo").attr("src", imagePath + "field_05.png");
          $("#text_title h1").text("本專題使用之攝影機");
          $("#text_title p").text(
            "右方圖片為此專題使用之三隻攝影機，以及其拍攝範圍。"
          );
          break;
      }
    });
  });
</script>
