<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>球員位置辨識及其位置顯示圖</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <header class="main_header">       
        <div class="container">
            <a href="#" class="logo">
                <img id="image_logo" src="">
            </a>
            <nav class="main_nav">
                <a href="http://127.0.0.1:5000" >首頁</a>
                <a href="http://127.0.0.1:5000/field">場地介紹</a>
                <a href="http://127.0.0.1:5000/">專題資訊</a>
            </nav>
        </div>
    </header>
    <div class="main_c">
        <div class="flex_box1">
            <div><img class="cam_video" id="cam01"></div>
            <div><img class="cam_video" id="cam03"></div>
            <div><img class="cam_video" id="cam02"></div>

        </div>
        <div class="flex_box2">
            <img src="/static/image/fieldhhalf.png"  >
        </div>
        <div class="flex_box3">
            <div><img class="cam_video" id="cam04"></div>
            <div><img class="cam_video" id="cam06"></div>
            <div><img class="cam_video" id="cam05"></div>
        </div>
    </div>
        <!-- 使用不同的 id 來標識不同的玩家圖像 -->
    <img class="playericon" id="playerImage1" alt="Player1 Icon" >
    <img class="playericon" id="playerImage2" alt="Player2 Icon" >
    <img class="playericon" id="playerImage3" alt="Player3 Icon" >
    <img class="playericon" id="playerImage4" alt="Player4 Icon" >
    <img class="playericon" id="playerImage5" alt="Player5 Icon" >
    <img class="playericon" id="playerImage6" alt="Player6 Icon" >
    <img class="playericon" id="playerImage7" alt="Player7 Icon" >
    <img class="playericon" id="playerImage8" alt="Player8 Icon" >
    <img class="playericon" id="playerImage9" alt="Player9 Icon" >
    <img class="playericon" id="playerImage10" alt="Player10 Icon" >

    <!-- 新增東西的地方的尾 -->
    <div class="main_footer">
        <div class="footer_container">
            <div class="footer_item">
                <h4>相關訊息</h4>
                <nav>
                    <a href="http://127.0.0.1:5000/about">關於我們</a>
                </nav>
            </div>
            <div class="footer_item">
                <h4>場地介紹</h4>
                <nav>
                    <a href="http://127.0.0.1:5000/field">場地介紹</a>
                </nav>
            </div>
        </div>

        <div class="made_by">
            <p>© 2023 球員辨識畢專。亞洲大學資工系。</p>
            <p>Made by 簡宇健 &  曾俊杰 </p>
        </div>
    </div>
    </div>
    
    <script>

        function updatePlayerPosition() {
            $.ajax({
                url: "/data2",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    if (data && data.number && data.number.length > 0) {
                        for (var i = 0; i < data.number.length; i++) {
                            var player = {
                                number: data.number[i],
                                x_coordinate: data.x_coor[i],
                                y_coordinate: data.y_coor[i],
                                has_ball : data.has_ball[i],
                                frame : data.frame[i]
                            };

                            handlePlayerPosition(player, 'playerImage'+data.number[i]);
                            cam_video(player,"cam01","01");
                            cam_error("cam02");
                            cam_error("cam03");
                            cam_video(player,"cam04","04");
                            cam_error("cam05");
                            cam_video(player,"cam06","06");
                        }
                    }
                },
                error: function(error) {
                    console.error('Ajax request failed:', error);
                }
            });
        }


        function handlePlayerPosition(player, imageId) {
            var playerImage = document.getElementById(imageId);
            
            var imagePath = "/static/image/number" + player.number;
            if (player.has_ball === 1) {
                imagePath += "_hasball.png";
            } else {
                imagePath += ".png";
            }
        
            playerImage.src = imagePath;
            playerImage.style.top = (225 + (player.y_coordinate * 152)) + "px";
            /*72 + 144x*/
            /*67 + 134x*/
            playerImage.style.left = (717 + (player.x_coordinate * 134)) + "px";
        }
        
        function cam_error(imageId){
            var camElement = document.getElementById(imageId);
                camElement.src = "/static/image/lost.png"
            }

        function cam_video(player, imageId, cam) {
            var camElement = document.getElementById(imageId);
            if (player.frame < 10) {
                camElement.src = "/static/" + cam + "cam/cam" + cam + "_0" + player.frame + ".jpg";
            }
            if (player.frame >= 10) {
                camElement.src = "/static/" + cam + "cam/cam" + cam + "_" + player.frame + ".jpg";
            }
        }


        
        setInterval(updatePlayerPosition, 800);
    </script>
</body>
</html>