<!DOCTYPE html>
<title>場地圖</title>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>場地介紹</title>
    <script src="/static/script/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/info.css" />
  </head>

  <body>
    <header class="main_header">
      <div class="container">
        <nav class="main_nav">
          <a href="http://127.0.0.1:5000/info">首頁</a>
          <a href="http://127.0.0.1:5000/field">場地介紹</a>
          <a href="http://127.0.0.1:5000/result">專題成果</a>
          <a href="http://127.0.0.1:5000/about">關於我們</a>
        </nav>
      </div>
    </header>

    <!-- 新增東西的地方的頭 -->
    <div id="main_c">
      <div class="abu_container">
        <div class="field">
          <img id="fieldinfo" src="" />
          <div id="text_title">
            <h1>研究動機</h1>

            <p>
              我們收到專業籃球隊對於分析軟體的需求，因而發想建構出一個系統。<br />
              此系統能夠協助教練以及其他賽事相關人員對於分析籃球場上球員的走位，背號追蹤，持球情況，做追蹤紀錄以及分析。
              並使其資料轉換為戰術路徑圖，以藉以確認球員在戰術練習中是否符合擬定的戰略。<br />
            </p>
          </div>
        </div>

        <div class="rightbar">
          <ul>
            <li class="pic01"><a>專題研究動機</a></li>
            <li class="pic02"><a>架構圖介紹</a></li>
            <li class="pic03"><a>資料前處理</a></li>
            <li class="pic04"><a>辨識相關技術</a></li>
            <li class="pic04"><a>前端呈現成果</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 新增東西的地方的尾 -->
    <div class="main_footer">
      <div class="footer_container"></div>

      <div class="made_by">
        <p>© 2023 球員辨識畢專。亞洲大學資工系。</p>
        <p>Made by 簡宇健 & 曾俊杰</p>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function () {
    var defaultText = "Your Default Text";
    var defaultImage = "/static/image/action.png";

    $("#fieldinfo").attr("src", defaultImage);
    $("#fieldinfo").css({
      width: "1700px",
      height: "600px",
    });
    $("#imageText").text(defaultText);

    $(".rightbar li").click(function () {
      var buttonText = $(this).text();
      var imagePath = "/static/image/";
      switch (buttonText) {
        case "專題研究動機":
          $("#fieldinfo").attr("src", imagePath + "action.png");
          $("#fieldinfo").css({
            width: "1700px",
            height: "600px",
          });
          $("#text_title h1").html("研究動機");
          $("#text_title p").html(
            "我們收到專業籃球隊對於分析軟體的需求，因而發想建構出一個系統。<br>此系統能夠協助教練以及其他賽事相關人員對於分析籃球場上球員的走位，背號追蹤，持球情況，做追蹤紀錄以及分析。<br>並使其資料轉換為戰術路徑圖，以藉以確認球員在戰術練習中是否符合擬定的戰略。<br />"
          );
          break;
        case "架構圖介紹":
          $("#fieldinfo").attr("src", imagePath + "frame.png");
          $("#fieldinfo").css({
            width: "1425px",
            height: "1096px",
          });
          $("#text_title h1").html("架構圖介紹");
          $("#text_title p").html(
            "首先1號、4號以及5號攝影機的串流影片，將會透過AI模型進行分析，得出位置、背號、持球、追蹤ID等結果，經由本校的物聯網平台傳送。<br>而後程式接收端接收到來自物聯網平台提供的AI辨識結果，再將其轉化成戰術圖，以及存放至回放用的資料庫存放。"
          );
          break;
        case "資料前處理":
          $("#fieldinfo").attr("src", imagePath + "labelimg.png");
          $("#fieldinfo").css({
            width: "1600px",
            height: "800px",
          });
          $("#text_title h1").html("Labelimg前處理");
          $("#text_title p").html(
            "首先前處理部分，我們使用labelimg進行圖片標記，因我們最初需要先進行切割場內以及場外人員的區分，因此我們以圖內的場地線為界進行分區。<br>以左方圖片為例，我們利用射線法，以場地邊線為界切割場地內部，在線之外的人員為場外，反之為場內，區分出人員所在之場內外。"
          );
          break;
        case "辨識相關技術":
          $("#fieldinfo").attr("src", imagePath + "detimage.png");
          $("#fieldinfo").css({
            width: "1400px",
            height: "1000px",
          });
          $("#text_title h1").html("AI辨識相關技術");
          $("#text_title p").html(
            "我們選用Yolov7的模型來進行訓練，並需要模型提供辨識位置、背號以及持球狀態等結果作為輸出。<br>左方為其中一個攝影機之辨識影像截圖，可看到利用AI辨識之人員分布。"
          );
          break;
        case "前端呈現成果":
          $("#fieldinfo").attr("src", imagePath + "frameweb.png");
          $("#fieldinfo").css({
            width: "1800px",
            height: "900px",
          });
          $("#text_title h1").html("前端流程介紹");
          $("#text_title p").html(
            "①客戶端發起請求<br>②Web Server向Application Server請求需要調整的所有資訊，包含URL、圖片在網頁上的位置、文字顯示狀態等。<br>③Application Server無法提供的資料，進一步向python程式請求讀取。<br>④python程式將資料包裝為Json後，傳回Application Server<br>⑤Application Server整理好更改內容以後回傳給Web Server<br>⑥最後回應給Browser作呈現。"
          );
          break;
      }
    });
  });
</script>
